<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.poboke.XcodePluginPlus</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds an Xcode plugin.</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.bundleBase</string>
		<string>com.apple.dt.unit.macBase</string>
		<string>com.apple.dt.unit.prefixable</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.bundle</string>
			<key>SharedSettings</key>
			<dict>
				<key>DEPLOYMENT_LOCATION</key>
				<string>YES</string>
				<key>DSTROOT</key>
				<string>$(HOME)</string>
				<key>INSTALL_PATH</key>
				<string>/Library/Application Support/Developer/Shared/Xcode/Plug-ins</string>
				<key>FRAMEWORK_SEARCH_PATHS</key>
                <array>
                    <string>$(inherited)</string>
                    <string>$(DEVELOPER_DIR)/../Frameworks</string>
                    <string>$(DEVELOPER_DIR)/../SharedFrameworks</string>
                    <string>$(DEVELOPER_DIR)/../OtherFrameworks</string>
                </array>
				<key>WRAPPER_EXTENSION</key>
				<string>xcplugin</string>
				<key>MACH_O_TYPE</key>
				<string>mh_bundle</string>
				<key>MACOSX_DEPLOYMENT_TARGET</key>
				<string>___RUNNINGOSXVERSION___</string>
				<key>COMBINE_HIDPI_IMAGES</key>
				<string>YES</string>
				<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
				<string>YES</string>
				<key>GCC_PREFIX_HEADER</key>
				<string>___PACKAGENAME___/PrefixHeader.pch</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>Objective-C</string>
			<key>Description</key>
			<string>The language of your base plugin class</string>
			<key>Identifier</key>
			<string>baseLanguage</string>
			<key>Name</key>
			<string>Language:</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<array>
					<dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>EMBEDDED_CONTENT_CONTAINS_SWIFT</key>
									<string>YES</string>
									<key>LD_RUNPATH_SEARCH_PATHS</key>
									<string>$(DT_TOOLCHAIN_DIR)/usr/lib/swift/macosx</string>
								</dict>
							</dict>
						</array>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAME___.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAME___.swift</key>
							<dict>
								<key>Path</key>
								<string>___PACKAGENAME___.swift</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>Objective-C</key>
				<array>
					<dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>Frameworks</key>
								<array>
									<string>AppKit</string>
									<string>Foundation</string>
								</array>
								<key>BuildPhases</key>
								<array>
									<dict>
										<key>Class</key>
										<string>Frameworks</string>
									</dict>
								</array>
							</dict>
						</array>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAME___.h</string>
							<string>___PACKAGENAME___.m</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAME___.h</key>
							<dict>
								<key>Path</key>
								<string>___PACKAGENAME___.h</string>
							</dict>
							<key>___PACKAGENAME___.m</key>
							<dict>
								<key>Path</key>
								<string>___PACKAGENAME___.m</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>JRSwizzle/JRSwizzle.h</string>
		<string>JRSwizzle/JRSwizzle.m</string>
        <string>PrefixHeader.pch</string>
        <string>Info.plist</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>JRSwizzle/JRSwizzle.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>JRSwizzle</string>
			</array>
			<key>Path</key>
			<string>JRSwizzle/JRSwizzle.h</string>
		</dict>
		<key>JRSwizzle/JRSwizzle.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>JRSwizzle</string>
			</array>
			<key>Path</key>
			<string>JRSwizzle/JRSwizzle.m</string>
		</dict>
        <key>PrefixHeader.pch</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Supporting Files</string>
            </array>
            <key>Path</key>
            <string>PrefixHeader.pch</string>
        </dict>
        <key>Info.plist</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Supporting Files</string>
            </array>
            <key>Path</key>
            <string>Info.plist</string>
        </dict>
	</dict>
</dict>
</plist>
